  .mytitle {
    color: black;
    font-size: 30px;
    font-family: 'Microsoft JhengHei';
    font-weight: bolder;
    position: relative;
    top: 20px;
    left: 5%;
}
.titleContent {
    color: black;
    font-size: 60px;
    font-family: 'Microsoft JhengHei';
    font-weight: bolder;
    position: relative;
    top: 250px;
    left: 15%;
}

.tableStyle {
    border-collapse: collapse;
    font-family: 'Microsoft JhengHei';
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    color: lightslategrey;
    border: none;
    width: 95%;
}

.tableStyle .tableContent{
    color: red;
}